computer/
http/
secret/
alias
apis
cd
clear
copy
delete
dj
drive
edit
eject
exit
gps
help
id
label
list
lua
mkdir
monitor
move
programs
reboot
redprobe
redpulse
redset
rename
shell
shutdown
time
type
